@adry-red: #FF4433;
@adry-violet: #963483;
@adry-green: rgb(0, 200, 100);

.row {
    display: flex;
}
  
.flex {
    width: 50%;
    padding: 10px;
}

.column1 {
    .flex;
    background-color: @adry-violet;
}

.column2 {
    .flex;
    background-color: @adry-red;
}

// class argument JS-style (the default value is 5px)
.border-radius(@radius: 5px) {
    border-radius: @radius;
}

// similar to an if statement: if (size == 'big) ...
.button-size (@size) when (@size = 'big') {
    height: 100px;
    width: 140px;
}

.button-size (@size) when (@size = 'small') {
   height: 60px;
   width: 100px;
}

// default size, if no argument is passed
.button-size (@size) when (default()) {
    height: 80px;
    width: 120px;
}

// this class will be compiled in the generated CSS
.button-color {
    background-color: @adry-green;

    // hierarchy example
    &:hover {
        background-color: @adry-green + rgb(212, 26, 26);
    }
}

// this class won't be compiled in the generated CSS
.button-color-two() {
    background-color: @adry-violet;

    &:hover {
        background-color: @adry-red + rgb(212, 26, 26);
    }
}

.button1 {
    // empty argument takes default value (parentheses can be omitted)
    .border-radius();
    .button-size('small');
    .button-color;
}

.button2 {
    .border-radius(10px);
    .button-size('big');
    .button-color-two;
}

// you can create two different style sheets simply commenting and decommenting a variable definition trough the if function

// comment and decomment here!
@current-style: one;
// @current-style: two;

@color-one: green;
@color-two: orange;

// using the if function to assign a color to the variable
@current-style-color: if(@current-style=one, @color-one, @color-two);

body {
    background-color: @current-style-color;
}

.my-image-bg {
    background-repeat: no-repeat;
    background-position: center;

    // using the if function to assign the image url to the background property
    background-image: if(@current-style=one, url("./img/green-logo.png"), url("./img/orange-logo.png"));
}