.row {
  display: flex;
}
.flex {
  width: 50%;
  padding: 10px;
}
.column1 {
  width: 50%;
  padding: 10px;
  background-color: #963483;
}
.column2 {
  width: 50%;
  padding: 10px;
  background-color: #FF4433;
}
.button-color {
  background-color: #00c864;
}
.button-color:hover {
  background-color: #d4e27e;
}
.button1 {
  border-radius: 5px;
  height: 60px;
  width: 100px;
  background-color: #00c864;
}
.button1:hover {
  background-color: #d4e27e;
}
.button2 {
  border-radius: 10px;
  height: 100px;
  width: 140px;
  background-color: #963483;
}
.button2:hover {
  background-color: #ff5e4d;
}
body {
  background-color: green;
}
.my-image-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./img/green-logo.png");
}
